
# Temporary extracted files
extracted-plugin/
extracted-vendor/
dist/client/ipv-production-system-pro-optimized/
dist/server/ipv-pro-vendor-optimized/

# Distribution ZIP files
dist/client/*.zip
dist/server/*.zip
